* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    list-style-type: none;
    text-decoration: none;
} 

body {
    height: 100vh; 
}

.title-name {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-top: 25px;
}

.data-structure {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.operations-wrapper, .list-wrapper {
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.operations-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 65%;
    background-color: #DDFDFF;
    position: relative;
}

.circle-i {
    position: absolute;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    left: -15px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #b4f2f7;
    border: 1px solid #000;
    cursor: pointer;
}

.circle-i:hover {
    background-color: #DDFDFF;
    transform: scale(1.1);
    transition: all 0.2s;
}

.operation {
    font-weight: 500;
    background-color: #DDFDFF;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 100px;
    box-shadow: 3px 3px #EEEEEE, 4px 4px;
    cursor: pointer;
}

.operation:hover {
    background-color: #b4f2f7;
    transition: 0.2s ease;
}

.operation:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}


.list-container {
    border-top: 1px solid #000;
    width: 65%;
    min-height: 515px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.infos {
    position: sticky;
    top: 0;
}

.infos, .lists {
    display: flex;
    align-items: center;
}

.index, .student-index, .name, .student-num, .num, .block, .gwa, .student-block, .student-gwa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index, .block, .gwa, .name, .num {
    background-color: #DDFDFF;
    font-weight: 600;
}

.index, .student-index {
    width: 8%;
    padding: 5px 0;
    border: 1px solid #000;
}

.name {
    padding: 5px 0;
    width: 50%;
    border: 1px solid #000;
}

.student-name {
    width: 50%;
    padding: 5px 0 5px 20px;
    border: 1px solid #000;
}

.student-num, .num {
    width: 17%;
    padding: 5px 0;
    border: 1px solid #000;

}

.block, .student-block {
    width: 15%;
    padding: 5px 0;
    border: 1px solid #000;
}

.gwa, .student-gwa {
    width: 10%;
    padding: 5px 0;
    border: 1px solid #000;
}

.list-title {
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.i-title, .peek-title, .pop-title, .isEmpty-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.i-info, .peek-info, .pop-info, .isEmpty-info {
    font-size: 17px;
}

.peek-info p{
    margin-bottom: 10px;
}

.i-info span, .peek-info span {
    font-weight: 600;
}

.popup-list, .popup-i, .popup-peek, .popup-pop, .popup-isEmpty {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-list, .popup, .popup-i, .popup-peek, .popup-pop, .popup-isEmpty {
    opacity: 0;
    display: none;
    pointer-events: none;
} 

.popup-list.show, .popup-list.show .popup, .popup-i.show, .popup-i.show .popup, .popup-peek.show, .popup-peek.show .popup, .popup-pop.show, .popup-pop.show .popup, .popup-isEmpty.show, .popup-isEmpty.show .popup {
    opacity: 1;
    display: block;
    pointer-events: auto;
}

.popup-list .popup, .popup-i .popup, .popup-peek .popup, .popup-pop .popup, .popup-isEmpty .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.popup .content {
    background-color: white;
    height: 350px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.popup .i-info {
    background-color: white;
    min-height: 440px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
}

.popup .peek-info, .popup .pop-info, .isEmpty-info {
    background-color: white;
    min-height: 150px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid black;
}

.peek-message, .pop-message, .isEmpty-message {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
}

.close_btn, .close-i-btn, .close-peek-btn, .close-pop-btn, .close-isEmpty-btn {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 28px;
    cursor: pointer;
}

.content form {
    margin: 20px 10px 15px;
}

.list-infos {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 15px;
}

.content form :where(input){
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.done-btn {
    width: 30%;
    float: right;
    font-size: 16px;
    font-weight: 500;
    background-color: #b4f2f7;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
